/**
Title: results.component.scss
Author: Walter McCue
Date: 02/26/23
Description: styling for the loan-app project
*/

mat-card {
  background-color: #000;
  padding: 50px 0px;
  min-height: 350px;
}

mat-card-content {
  width: 600px;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 48px;
  color: #fff;
  text-align: center;
}
