<!--
  Title: about.component.html
  Author: Walter McCue
  Date: 02/26/23
  Description: html for the loan-app project
-->

<h1>About Us</h1>

<div fxLayout>

  <div fxFlex>

    <div fxLayout="column" style="width:30%;">

      <!--Image-->

      <div>
        <img src="./assets/walter-white.jpg" width="300%">
      </div>

    </div>

  </div>

  <!--Bio-->

  <div fxLayout="column" style="width:70%;">
    <p>
      Loan App was created by House Hufflepuff. Loan App is free to use and will always be free to use.
      Users will have to input their initial principle, interest rate, and length of the loan to see results.
      The basic concept behind our formula is to calculate monthly payments based on the total principle plus total interest and divide that by the length of the loan.
      We also provide the total amount of interest so users can see exactly how much they are spending over principle.
      If a user wants to save money, they can reduce the length of the loan and check again to see how much less interest they’d be paying.
      Keep in mind, that means the user will have to pay an increased amount each month.
      To spend less overall, they’d have to pay more each month.
    </p>
    <p>
      Now that we’ve explained how our Loan App works and how users can use it, let’s introduce you to our company.
      As already mentioned, House Hufflepuff is the company that created Loan App.
      Our great success is due to our benevolent benefactor Walter White. His vision and passion for learning and teaching is what drives us forward.
      In a past life, Walter White was a chemistry teacher.
      Tragedy struck when he was diagnosed with cancer.
      Through a series of wild events, Walter resigned his position as a teacher, beat the cancer, and generated enough income through anonymous donations to create House Hufflepuff.
      He now employs an entire team of young and aspiring new developers who create free and useful apps for the world to use.
      House Hufflepuff is entirely funded by donations and uses additional funding to pay for classes, workshops, and seminars for the development team to take advantage of.
      If anyone would like to apply for a position within the company (pending availability) or would like to make a donation to keeping our services free, please visit the Contact Us page.
    </p>
  </div>

</div>
