/**
Title: contact.component.scss
Author: Walter McCue
Date: 02/26/23
Description: styling for the loan-app project
*/

h1 {
  text-align: center;
  color: #fff;
}

div {
  color: #fff;
  text-align: center;
}
