<!--
  Title: contact.component.html
  Author: Walter McCue
  Date: 02/26/23
  Description: html for the loan-app project
-->

<h1>Contact Us</h1>

<div fxLayout>

    <!--Address-->

  <div fxFlex>

    <div>
      <p><i class="fa-solid fa-location-dot"></i></p>
      <p>1234 My Street</p>
      <p>My City, My State</p>
    </div>

  </div>

  <!--Phone-->

  <div fxFlex>

    <div>
      <p><i class="fa-solid fa-phone"></i></p>
      <p>Direct: 555-555-5555</p>
      <p>Toll-free: 1-888-555-5555</p>
      <p>Fax: 555-555-5555</p>
    </div>

  </div>

</div>
<div>
  <p>Please don't hesitate to see our headquarters or give us a call!</p>
</div>
