<!--
  Title: app.component.html
  Author: Walter McCue
  Date: 02/26/23
  Description: html for the loan-app project
-->


<!--Navigation-->

<mat-toolbar class="toolbar"  class="yellow">

  <mat-toolbar-row>

    <div class="logo">
      <img src="./assets/hufflepuff-logo.jpg" width="100px" />
    </div>

    <div style="width: 80%">
      <div fxLayout="row wrap" fxLayoutAlign="end start">
        <button mat-button routerLink="/home">Home</button>
        <button mat-button routerLink="/about">About Us</button>
        <button mat-button routerLink="/contact">Contact Us</button>
      </div>
    </div>

  </mat-toolbar-row>

</mat-toolbar>

<br />

<!--Main Content-->

<div fxLayout="row wrap">

  <div fxFlex>

    <mat-card class="main-container">

      <mat-card-title class="blue">
        {{ title }}
      </mat-card-title>

      <br /><br />

      <mat-card-content>
        <router-outlet></router-outlet>
      </mat-card-content>

    </mat-card>

  </div>

</div>
