/**
Title: styles.scss
Author: Walter McCue
Date: 02/26/23
Description: Global styling for the loan-app project
*/

@import './theme';

html, body {
  height: 100%;
}

body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #000;
}

.yellow {
  background-color: #ffdb00;
  color:#000;
}

.gray {
  color: #60605C;
}

button {
  font-weight: 700;
}

button:hover {
  background-color:#60605C;
}

.main-container {
  margin: 10px 20px;
  padding: 10px;
}

mat-card-title {
  text-align: center;
  font-size: larger;
  color: #ffdb00;
}
