<!--
  Title: home.component.html
  Author: Walter McCue
  Date: 02/26/23
  Description: html for the loan-app project
-->

<div fxLayout fxLayoutGap="20px" fxLayoutAlign="center">

    <!--User Input-->

    <div fxLayout="column" fxLayoutAlign="center">

      <mat-card>

        <form
          fxLayout="column"
          [formGroup]="loanForm"
          (ngSubmit)="onSubmit()"
        >

          <!--Principle-->

          <div
            class="msgError"
            *ngIf="loanForm.controls['principle'].invalid &&
            loanForm.controls['principle'].dirty &&
            loanForm.controls['principle'].touched"
          >
            {{ errorMessage }}
          </div>

          <mat-form-field>

            <mat-label>
              Principle
            </mat-label>

            <input
              type="text"
              name="txtPrinciple"
              id="txtPrinciple"
              placeholder="Ex: $4,903.99 as 4903.99"
              matInput
              formControlName="principle"
              autocomplete="off"
            />

          </mat-form-field>

          <!--Interest-->

          <div
            class="msgError"
            *ngIf="loanForm.controls['interest'].invalid &&
            loanForm.controls['interest'].dirty &&
            loanForm.controls['interest'].touched"
          >
            {{ errorMessage }}
          </div>

          <mat-form-field>

            <mat-label>
              Interest
            </mat-label>

            <input
              type="text"
              name="txtInterest"
              id="txtInterest"
              placeholder="Ex: 15.79% as 15.79"
              matInput
              formControlName="interest"
              autocomplete="off"
            />

          </mat-form-field>

          <!--Loan Length-->

          <div
            class="msgError"
            *ngIf="loanForm.controls['years'].invalid &&
            loanForm.controls['years'].dirty &&
            loanForm.controls['years'].touched"
          >
            {{ errorYear }}
          </div>

          <mat-form-field>

            <mat-label>
              Loan Length
            </mat-label>

            <input
              type="text"
              name="txtYears"
              id="txtYears"
              placeholder="Ex: 4 years as 4"
              matInput
              formControlName="years"
              autocomplete="off"
            />

          </mat-form-field>

          <div fxLayout="row wrap">

            <!--Reset Button-->

            <button
              class="formButton"
              mat-raised-button
              type="reset"
              (click)="onReset()"
            >
              Clear Form
            </button>

            <!--Submit Button-->

            <button
              class="formButton"
              mat-raised-button
              type="submit"
              [disabled]="loanForm.invalid"
            >
              Calculate
            </button>

          </div>

        </form>

      </mat-card>

    </div>

    <!--Results Card-->

    <div fxLayout="column" id="results">

      <app-results
        [monthlyPayment]="monthlyPayment"
        [totalInterest]="totalInterest"
      >
      </app-results>

    </div>

</div>
